.no-scrollbar::-webkit-scrollbar { /* Safari and Chrome */
    display: none !important;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none ; /* Firefox */
  }